In [3]:
#import libraries and packages
import pandas as pd
import numpy as np

In [ ]:
#import
df = pd.read_excel("/home/node1/Documents/uic/FilesUsed/qry_YER_incidents.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: '/home/node1/Documents/uic/FilesUsed/qry_YER_incidents.xlsx'

In [3]:
df.shape

(3981, 61)

In [4]:
df.columns

Index(['Incident_Report_ID', 'Activity_ID', 'Incident_Date', 'Report_Label',
       'FYear_Incident', 'Class', 'Member_Prime', 'Member_ID', 'Death_type',
       'Caused_By_Substance_YN', 'DR_Accidental', 'DR_Suicide',
       'DR_Unusual_Circumstances', 'DR_Natural_Causes', 'DR_Other',
       'SM_Neglect', 'SM_Abuse', 'SM_Physical_Abuse', 'SM_Sexual_Abuse',
       'L2_Victim_YN', 'UH_Medical_Instability', 'UH_Psychiatric_Instability',
       'UH_Injury', 'UH_Medical_Hospitalization', 'UH_Medication_Related',
       'UH_Substance_Use', 'UH_Psychiatric_Hospitalization', 'Injury_Fall',
       'Injury_Medication_Related', 'Injury_Bruising', 'Injury_Burn',
       'Injury_Bleeding', 'Injury_Cut_Or_Puncture', 'Injury_Sprain',
       'Injury_Other', 'Fire_Intentional', 'Fire_Accidental', 'BI_Threats',
       'BI_Substance', 'SM_Exploitation', 'PD_Provider_Property',
       'PD_Participant_Property', 'PD_Someone_Else', 'PD_Fire_Accidental',
       'VA_Member', 'VA_Public', 'VA_Other_Vehicle', 'VA_Pedestrian',
       'VA_Other', 'Eviction_Refusal', 'Eviction_Destruction',
       'Eviction_Disturbing', 'Eviction_Other', 'Suspected_Verbal',
       'Suspected_Financial', 'AF_Member', 'AF_Provider', 'Case_Prime',
       'Incident_Prime', 'Report_Created_By_Employee_ID',
       'Report_Completed_By'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3981 entries, 0 to 3980
Data columns (total 61 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Incident_Report_ID              3981 non-null   int64
 1   Activity_ID                     3981 non-null   int64
 2   Incident_Date                   3981 non-null   datetime64[ns]
 3   Report_Label                    3981 non-null   object
 4   FYear_Incident                  3981 non-null   int64
 5   Class                           3981 non-null   object
 6   Member_Prime                    3981 non-null   object
 7   Member_ID                       3981 non-null   int64
 8   Death_type                      14 non-null     object
 9   Caused_By_Substance_YN          3981 non-null   bool
 10  DR_Accidental                   3981 non-null   bool
 11  DR_Suicide                      3981 non-null   bool
 12  DR_Unusual_Circumstances        3981 non-null   bool
 13  DR_Natural_Causes               3981 non-null   bool
 14  DR_Other                        3981 non-null   bool
 15  SM_Neglect                      3981 non-null   bool
 16  SM_Abuse                        3981 non-null   bool
 17  SM_Physical_Abuse               3981 non-null   bool
 18  SM_Sexual_Abuse                 3981 non-null   bool
 19  L2_Victim_YN                    3981 non-null   bool
 20  UH_Medical_Instability          3981 non-null   bool
 21  UH_Psychiatric_Instability      3981 non-null   bool
 22  UH_Injury                       3981 non-null   bool
 23  UH_Medical_Hospitalization      3981 non-null   bool
 24  UH_Medication_Related           3981 non-null   bool
 25  UH_Substance_Use                3981 non-null   bool
 26  UH_Psychiatric_Hospitalization  3981 non-null   bool
 27  Injury_Fall                     3981 non-null   bool
 28  Injury_Medication_Related       3981 non-null   bool
 29  Injury_Bruising                 3981 non-null   bool
 30  Injury_Burn                     3981 non-null   bool
 31  Injury_Bleeding                 3981 non-null   bool
 32  Injury_Cut_Or_Puncture          3981 non-null   bool
 33  Injury_Sprain                   3981 non-null   bool
 34  Injury_Other                    3981 non-null   bool
 35  Fire_Intentional                3981 non-null   bool
 36  Fire_Accidental                 3981 non-null   bool
 37  BI_Threats                      3981 non-null   bool
 38  BI_Substance                    3981 non-null   bool
 39  SM_Exploitation                 3981 non-null   bool
 40  PD_Provider_Property            3981 non-null   bool
 41  PD_Participant_Property         3981 non-null   bool
 42  PD_Someone_Else                 3981 non-null   bool
 43  PD_Fire_Accidental              3981 non-null   bool
 44  VA_Member                       3981 non-null   bool
 45  VA_Public                       3981 non-null   bool
 46  VA_Other_Vehicle                3981 non-null   bool
 47  VA_Pedestrian                   3981 non-null   bool
 48  VA_Other                        3981 non-null   bool
 49  Eviction_Refusal                3981 non-null   bool
 50  Eviction_Destruction            3981 non-null   bool
 51  Eviction_Disturbing             3981 non-null   bool
 52  Eviction_Other                  3981 non-null   bool
 53  Suspected_Verbal                3981 non-null   bool
 54  Suspected_Financial             3981 non-null   bool
 55  AF_Member                       3981 non-null   bool
 56  AF_Provider                     3981 non-null   bool
 57  Case_Prime                      3981 non-null   object
 58  Incident_Prime                  3981 non-null   object
 59  Report_Created_By_Employee_ID   3981 non-null   int64
 60  Report_Completed_By             3980 non-null   object
dtypes: bool(48), datetime64[ns](1), int64(5), object(7)
memory usage: 591.1+ KB

In [6]:
df.Report_Label.value_counts()

2 - Level II - Serious         3426
1 - Level I - Urgent            362
3 - Level III - Significant     121
COVID                            72
Name: Report_Label, dtype: int64

In [19]:
df.groupby(['Class', 'Death_type'],as_index = False).count().pivot('Class', 'Death_type').fillna(0)

           Incident_Report_ID                                              \
Death_type         Accidental Natural causes Other - unexpected or sudden
Class
Colbert                   1.0            3.0                          6.0
Williams                  0.0            1.0                          2.0

                                 Activity_ID                 \
Death_type Unusual circumstances  Accidental Natural causes
Class
Colbert                      0.0         1.0            3.0
Williams                     1.0         0.0            1.0

                                                              Incident_Date  \
Death_type Other - unexpected or sudden Unusual circumstances    Accidental
Class
Colbert                             6.0                   0.0           1.0
Williams                            2.0                   1.0           0.0

                           ...               Incident_Prime  \
Death_type Natural causes  ... Other - unexpected or sudden
Class                      ...
Colbert               3.0  ...                          6.0
Williams              1.0  ...                          2.0

                                 Report_Created_By_Employee_ID                 \
Death_type Unusual circumstances                    Accidental Natural causes
Class
Colbert                      0.0                           1.0            3.0
Williams                     1.0                           0.0            1.0

                                                               \
Death_type Other - unexpected or sudden Unusual circumstances
Class
Colbert                             6.0                   0.0
Williams                            2.0                   1.0

           Report_Completed_By                                              \
Death_type          Accidental Natural causes Other - unexpected or sudden
Class
Colbert                    1.0            3.0                          6.0
Williams                   0.0            1.0                          2.0


Death_type Unusual circumstances
Class
Colbert                      0.0
Williams                     1.0

[2 rows x 236 columns]

In [21]:
df.groupby(['Class','Incident_Prime'])['Incident_Report_ID'].count().reset_index()

       Class Incident_Prime  Incident_Report_ID
0    Colbert     AgeOptions                 252
1    Colbert    Assoc House                 200
2    Colbert       Envision                 401
3    Colbert            GPS                  89
4    Colbert           HRDI                   1
5    Colbert            KYC                 273
6    Colbert           LSSI                 197
7    Colbert        Sertoma                 193
8    Colbert     Thresholds                  98
9    Colbert        Trilogy                 681
10  Williams     AgeOptions                   3
11  Williams    Assoc House                  26
12  Williams    Cornerstone                  77
13  Williams       Envision                 167
14  Williams            GPS                  21
15  Williams           HRDI                  66
16  Williams            HSC                  14
17  Williams       Heritage                 134
18  Williams            KYC                 208
19  Williams           LSSI                 148
20  Williams           NYAP                  36
21  Williams        Sertoma                   1
22  Williams     Thresholds                 177
23  Williams        Trilogy                 518

In [22]:
df.groupby(['Class','Incident_Prime'])['Incident_Report_ID'].count()

Class     Incident_Prime
Colbert   AgeOptions        252
          Assoc House       200
          Envision          401
          GPS                89
          HRDI                1
          KYC               273
          LSSI              197
          Sertoma           193
          Thresholds         98
          Trilogy           681
Williams  AgeOptions          3
          Assoc House        26
          Cornerstone        77
          Envision          167
          GPS                21
          HRDI               66
          HSC                14
          Heritage          134
          KYC               208
          LSSI              148
          NYAP               36
          Sertoma             1
          Thresholds        177
          Trilogy           518
Name: Incident_Report_ID, dtype: int64

In [26]:
#Substance YN and Incident_Prime
#create a cross-tab
ct = pd.crosstab(df.Incident_Prime, df.Caused_By_Substance_YN, margins=True)
ct

Caused_By_Substance_YN  False  True   All
Incident_Prime
AgeOptions                226    29   255
Assoc House               208    18   226
Cornerstone                66    11    77
Envision                  530    38   568
GPS                       100    10   110
HRDI                       56    11    67
HSC                        11     3    14
Heritage                  122    12   134
KYC                       448    33   481
LSSI                      298    47   345
NYAP                       35     1    36
Sertoma                   181    13   194
Thresholds                225    50   275
Trilogy                   948   251  1199
All                      3454   527  3981

In [7]:
#df.to_csv(r'\\uicfs.server.uic.edu\NURS\1\CCMTP\Database & Reports\Mortality Annual Reports\2023_April Mortality Report\incidents.csv')