In [1]:
import pandas as pd
import numpy as np
import time
import re
import os
import datetime
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [2]:
os.chdir(r'C:/Users/vwalds/Documents/My Data Sources/')

In [3]:
# Grab Current Time Before Running the Code
start = time.time()

In [4]:
#UIC_QA_NLP_Death_Discharge

In [5]:
df = pd.read_excel("UIC_QA_NLP_Death_Discharge.xlsx")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22263 entries, 0 to 22262
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Member_Prime_ID              21841 non-null  float64
 1   Member_ID                    22263 non-null  int64
 2   Last_Name                    22263 non-null  object
 3   First_Name                   22263 non-null  object
 4   RIN                          22052 non-null  float64
 5   Reason                       16510 non-null  object
 6   NLP_Date                     16373 non-null  object
 7   Member_Frozen_YN             22263 non-null  bool
 8   Member_Closed_YN             22263 non-null  bool
 9   Member_Closed_Reason_ID      21448 non-null  float64
 10  Current_Outreach_ID          21623 non-null  float64
 11  Member_Approval_Status       22263 non-null  int64
 12  Member_Phase_ID              22263 non-null  int64
 13  Log_NF_ID                    21741 non-null  float64
 14  Log_Facility_Admission_Date  13558 non-null  object
dtypes: bool(2), float64(5), int64(3), object(5)
memory usage: 2.3+ MB

In [7]:
df.columns

Index(['Member_Prime_ID', 'Member_ID', 'Last_Name', 'First_Name', 'RIN',
       'Reason', 'NLP_Date', 'Member_Frozen_YN', 'Member_Closed_YN',
       'Member_Closed_Reason_ID', 'Current_Outreach_ID',
       'Member_Approval_Status', 'Member_Phase_ID', 'Log_NF_ID',
       'Log_Facility_Admission_Date'],
      dtype='object')

In [8]:
# converting the string to datetime format
df['NLP_Date'] = pd.to_datetime(df['NLP_Date'])

In [9]:
# converting the string to datetime format
df['Log_Facility_Admission_Date'] = pd.to_datetime(df['Log_Facility_Admission_Date'])

In [10]:
df.dtypes

Member_Prime_ID                       float64
Member_ID                               int64
Last_Name                              object
First_Name                             object
RIN                                   float64
Reason                                 object
NLP_Date                       datetime64[ns]
Member_Frozen_YN                         bool
Member_Closed_YN                         bool
Member_Closed_Reason_ID               float64
Current_Outreach_ID                   float64
Member_Approval_Status                  int64
Member_Phase_ID                         int64
Log_NF_ID                             float64
Log_Facility_Admission_Date    datetime64[ns]
dtype: object

In [11]:
df['RIN'].sample(15)

15707    222228215.0
16576     57801375.0
1804      86965522.0
11250    367604386.0
8421      52573045.0
2957     221797475.0
20359    963381355.0
21249     94883238.0
14221    208019067.0
19985    163135528.0
9561     205835838.0
15175    156624959.0
8618     168327146.0
22097    350795233.0
10636    960122455.0
Name: RIN, dtype: float64

In [12]:
# Convert RIN to string
df['RIN'] = df['RIN'].astype('str')

In [13]:
df['RIN'] = df['RIN'].str.strip()

In [14]:
# add leading zeros to Member_RIN
df['RIN'] = df['RIN'].str.zfill(11)

In [15]:
df['RIN'].sample(15)

15663    341087120.0
7757     225847516.0
18921    346847270.0
3507     360462329.0
8146     355412784.0
19981    100358415.0
4887     355835208.0
326      350456794.0
17918    347192528.0
16179    177641461.0
18025    313569014.0
462      350871703.0
16475    219327814.0
5033     216255729.0
10439    081417768.0
Name: RIN, dtype: object

In [16]:
df.dtypes

Member_Prime_ID                       float64
Member_ID                               int64
Last_Name                              object
First_Name                             object
RIN                                    object
Reason                                 object
NLP_Date                       datetime64[ns]
Member_Frozen_YN                         bool
Member_Closed_YN                         bool
Member_Closed_Reason_ID               float64
Current_Outreach_ID                   float64
Member_Approval_Status                  int64
Member_Phase_ID                         int64
Log_NF_ID                             float64
Log_Facility_Admission_Date    datetime64[ns]
dtype: object

In [17]:
#export file without index column
df.to_excel("UIC_QA_NLP_Death_Discharge.xlsx", index=False)

In [18]:
# Create a timestamp object
timestamp = pd.Timestamp(datetime.datetime.now())

# Print the timestamp
print(timestamp)

2024-09-04 12:21:40.359680

In [19]:
#the end!