In [1]:
import pandas as pd
import numpy as np
# import the builtin time module
import time
#regex
import re

In [2]:
# Grab Currrent Time Before Running the Code
start = time.time()

In [3]:
will = pd.read_excel('/home/node1/Documents/uic/FilesUsed/Census-Williams.xls')

In [4]:
colb = pd.read_excel('/home/node1/Documents/uic/FilesUsed/Census-Williams.xls')

FileNotFoundError: [Errno 2] No such file or directory: '\\\\uicfs.server.uic.edu\\NURS\\1\\CCMTP\\Database & Reports\\Database\\Census\\maximus_exports\\Census-Colbert.xls'

In [5]:
colb.columns

Index(['Episode ID', 'Individual ID', 'Unnamed: 2', 'Last Name', 'First Name',
       'Identification Type', 'Identification Number', 'Date of Birth',
       'Admitting Facility', 'Admitting Facility County', 'Submitted Date',
       'Admission Date', 'End Date', 'Outcome', 'Effective Date',
       'Unnamed: 15', 'Determination Date', 'Disability Type',
       'Specialized Services', 'Discharge/Transfer/\nDeceased Date',
       'Discharge Type'],
      dtype='object')

In [6]:
will.columns

Index(['Episode ID', 'Individual ID', 'Unnamed: 2', 'Last Name', 'First Name',
       'Identification Type', 'Identification Number', 'Date of Birth',
       'Admitting Facility', 'Admitting Facility County', 'Submitted Date',
       'Admission Date', 'End Date', 'Outcome', 'Effective Date',
       'Unnamed: 15', 'Determination Date', 'Disability Type',
       'Specialized Services', 'Discharge/Transfer/\nDeceased Date',
       'Discharge Type'],
      dtype='object')

In [7]:
#add a new column to indicate decree
will.insert(1, "Decree", "Williams")

In [8]:
#add a new column to indicate decree
colb.insert(1, "Decree", "Colbert")

In [9]:
#combine the two data frames with pandas concatenate method
df = pd.concat([colb, will])

In [10]:
df.columns

Index(['Episode ID', 'Decree', 'Individual ID', 'Unnamed: 2', 'Last Name',
       'First Name', 'Identification Type', 'Identification Number',
       'Date of Birth', 'Admitting Facility', 'Admitting Facility County',
       'Submitted Date', 'Admission Date', 'End Date', 'Outcome',
       'Effective Date', 'Unnamed: 15', 'Determination Date',
       'Disability Type', 'Specialized Services',
       'Discharge/Transfer/\nDeceased Date', 'Discharge Type'],
      dtype='object')

In [11]:
# Remove columns 
df = df.drop(['Unnamed: 2', 'Unnamed: 15'], axis=1)

In [12]:
df.columns

Index(['Episode ID', 'Decree', 'Individual ID', 'Last Name', 'First Name',
       'Identification Type', 'Identification Number', 'Date of Birth',
       'Admitting Facility', 'Admitting Facility County', 'Submitted Date',
       'Admission Date', 'End Date', 'Outcome', 'Effective Date',
       'Determination Date', 'Disability Type', 'Specialized Services',
       'Discharge/Transfer/\nDeceased Date', 'Discharge Type'],
      dtype='object')

In [13]:
df.rename(columns = {'Discharge/Transfer/\nDeceased Date':'DTD_Date'}, inplace = True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2251 entries, 0 to 121
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Episode ID                 1954 non-null   float64
 1   Decree                     2251 non-null   object
 2   Individual ID              2251 non-null   int64
 3   Last Name                  2251 non-null   object
 4   First Name                 2251 non-null   object
 5   Identification Type        2251 non-null   object
 6   Identification Number      2251 non-null   object
 7   Date of Birth              2251 non-null   object
 8   Admitting Facility         2251 non-null   object
 9   Admitting Facility County  2251 non-null   object
 10  Submitted Date             1954 non-null   object
 11  Admission Date             2251 non-null   object
 12  End Date                   202 non-null    object
 13  Outcome                    1954 non-null   object
 14  Effective Date             134 non-null    object
 15  Determination Date         1954 non-null   object
 16  Disability Type            2251 non-null   object
 17  Specialized Services       111 non-null    object
 18  DTD_Date                   247 non-null    object
 19  Discharge Type             247 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 369.3+ KB

In [15]:
df.columns

Index(['Episode ID', 'Decree', 'Individual ID', 'Last Name', 'First Name',
       'Identification Type', 'Identification Number', 'Date of Birth',
       'Admitting Facility', 'Admitting Facility County', 'Submitted Date',
       'Admission Date', 'End Date', 'Outcome', 'Effective Date',
       'Determination Date', 'Disability Type', 'Specialized Services',
       'DTD_Date', 'Discharge Type'],
      dtype='object')

In [16]:
# converting the string to datetime format
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])

In [17]:
# converting the string to datetime format
df['Submitted Date'] = pd.to_datetime(df['Submitted Date'])

In [18]:
# converting the string to datetime format
df['Admission Date'] = pd.to_datetime(df['Admission Date'])

In [19]:
# converting the string to datetime format
df['End Date'] = pd.to_datetime(df['End Date'])

In [20]:
# converting the string to datetime format
df['Effective Date'] = pd.to_datetime(df['Effective Date'])

In [21]:
# converting the string to datetime format
df['Determination Date'] = pd.to_datetime(df['Determination Date'])

In [22]:
# converting the string to datetime format
df['DTD_Date'] = pd.to_datetime(df['DTD_Date'])

In [23]:
# converting the string to datetime format
df['Processed_date'] = pd.Timestamp.now()

In [24]:
df['Admission Date'].max()

Timestamp('2023-06-21 00:00:00')

In [25]:
# converting the string to datetime format
df['Census_date'] = df['Admission Date'].max()

In [26]:
df.head()

,Episode ID,Decree,Individual ID,Last Name,First Name,Identification Type,Identification Number,Date of Birth,Admitting Facility,Admitting Facility County,...,End Date,Outcome,Effective Date,Determination Date,Disability Type,Specialized Services,DTD_Date,Discharge Type,Download_date,Census_date
0,NaN,Colbert,1936207,Abbott,Joyce,Social Security Number,334-26-6056,1933-02-19,FRIENDSHIP VILLAGE SCHAUMBURG,Cook,...,NaT,NaN,NaT,NaT,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21
1,NaN,Colbert,1934693,Abercrombie,Patricia,Social Security Number,328-44-1202,1947-05-15,Ascension Resurrection Life,Cook,...,NaT,NaN,NaT,NaT,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21
2,1791639.0,Colbert,1919882,Abrams,Juan,Social Security Number,580-50-9109,1936-03-05,ASCENSION ST BENEDICT,Cook,...,NaT,No Level II Required – No SMI/ID/RC,NaT,2023-05-24,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21
3,1817277.0,Colbert,1858386,Abron-Vaughan,Shirlee,Social Security Number,358-56-9468,1957-01-11,The British Home for the Retired Men and Women,Cook,...,NaT,No Level II Required – No SMI/ID/RC,NaT,2023-06-12,Not specified,NaN,2023-06-13,Discharge/Transfer,2023-06-22 15:07:03.221420,2023-06-21
4,1818204.0,Colbert,1935134,Acker,Josephine,Social Security Number,354-30-0494,1936-09-29,BUCKINGHAM PAVILION,Cook,...,NaT,No Level II Required – No SMI/ID/RC,NaT,2023-06-12,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21

In [27]:
#function to fix case of member names
def titlecase(s):
    return re.sub(
        r"[A-Za-z]+('[A-Za-z]+)?",
        lambda word: word.group(0).capitalize(),
        s)

In [28]:
# Fix capitalization
df['Last Name'] = df['Last Name'].apply(titlecase)

In [29]:
# Fix capitalization
df['First Name'] = df['First Name'].apply(titlecase)

In [30]:
# Fix capitalization
#convert text to uppercase
df['Admitting Facility'] = df['Admitting Facility'].str.upper()

In [31]:
#confirm
df[['Last Name', 'First Name', 'Admitting Facility']].sample(15)

       Last Name   First Name         Admitting Facility
356        Cohen       Rhonna       ALDEN ESTATES SKOKIE
172    Bombicino   Antoinette        AVANTARA PARK RIDGE
125   Bednarczyk    Kazimierz       WARREN BARR OAK LAWN
503      Dunstan       Daniel  LEXINGTON OF  ORLAND PARK
481       Dorsey       Selena        SOUTH HOLLAND MANOR
957        Jones      Kenneth        BRIA PALOS HILLS HC
1593     Redmond      Stanley      GENERATIONS APPLEWOOD
1317     Minarik        Carol   GLENVIEW TERRACE NSG CTR
794          Hay        Carla  ALIYA HEALTHCARE HOMEWOOD
254   Buenrostro        Jesse     AVANTARA CHICAGO RIDGE
167       Bobruk        David      APERION CARE HILLSIDE
1333     Montana        James      TERRACES AT THE CLARE
1270    Mckenzie      Jeffrey        ALIYA OAK LAWN WEST
425        Davis      Barbara      MAYFIELD CARE & REHAB
1396     Newborn  Christopher        CITY VIEW MULTICARE

In [32]:
#check value counts of new field
df['Identification Type'].value_counts().sort_values(ascending=False)

Social Security Number       2100
Medicaid ID                    83
AssessmentPro IID              54
Driver's License/State ID      14
Name: Identification Type, dtype: int64

In [33]:
#find duplicate rows across specific columns
duplicateRows = df[df.duplicated()]

In [34]:
duplicateRows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 538 to 2010
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Episode ID                 2 non-null      float64
 1   Decree                     2 non-null      object
 2   Individual ID              2 non-null      int64
 3   Last Name                  2 non-null      object
 4   First Name                 2 non-null      object
 5   Identification Type        2 non-null      object
 6   Identification Number      2 non-null      object
 7   Date of Birth              2 non-null      datetime64[ns]
 8   Admitting Facility         2 non-null      object
 9   Admitting Facility County  2 non-null      object
 10  Submitted Date             2 non-null      datetime64[ns]
 11  Admission Date             2 non-null      datetime64[ns]
 12  End Date                   0 non-null      datetime64[ns]
 13  Outcome                    2 non-null      object
 14  Effective Date             0 non-null      datetime64[ns]
 15  Determination Date         2 non-null      datetime64[ns]
 16  Disability Type            2 non-null      object
 17  Specialized Services       0 non-null      object
 18  DTD_Date                   2 non-null      datetime64[ns]
 19  Discharge Type             2 non-null      object
 20  Download_date              2 non-null      datetime64[ns]
 21  Census_date                2 non-null      datetime64[ns]
dtypes: datetime64[ns](9), float64(1), int64(1), object(11)
memory usage: 368.0+ bytes

In [35]:
duplicateRows.head()

,Episode ID,Decree,Individual ID,Last Name,First Name,Identification Type,Identification Number,Date of Birth,Admitting Facility,Admitting Facility County,...,End Date,Outcome,Effective Date,Determination Date,Disability Type,Specialized Services,DTD_Date,Discharge Type,Download_date,Census_date
538,1787459.0,Colbert,1917748,Evans,Edward,Social Security Number,430-74-0327,1941-08-23,SOUTH SUBURBAN REHAB,Cook,...,NaT,No Level II Required – No SMI/ID/RC,NaT,2023-05-22,Not specified,NaN,2023-06-11,Deceased,2023-06-22 15:07:03.221420,2023-06-21
2010,1813950.0,Colbert,1932732,Washington,Charles,Social Security Number,336-44-3610,1949-03-11,AUSTIN OASIS,Cook,...,NaT,No Level II Required – No SMI/ID/RC,NaT,2023-06-09,Not specified,NaN,2023-06-09,Discharge/Transfer,2023-06-22 15:07:03.221420,2023-06-21

In [36]:
df.drop_duplicates(subset=None, keep='first', inplace=True)

In [37]:
df.drop_duplicates(subset='Identification Number', keep='first', inplace=True)

In [38]:
#find duplicate rows across specific columns
duplicateRows = df[df.duplicated(['Identification Number'])]

In [39]:
duplicateRows.head()

Empty DataFrame
Columns: [Episode ID, Decree, Individual ID, Last Name, First Name, Identification Type, Identification Number, Date of Birth, Admitting Facility, Admitting Facility County, Submitted Date, Admission Date, End Date, Outcome, Effective Date, Determination Date, Disability Type, Specialized Services, DTD_Date, Discharge Type, Download_date, Census_date]
Index: []

[0 rows x 22 columns]

In [40]:
print(duplicateRows.sort_values)

<bound method DataFrame.sort_values of Empty DataFrame
Columns: [Episode ID, Decree, Individual ID, Last Name, First Name, Identification Type, Identification Number, Date of Birth, Admitting Facility, Admitting Facility County, Submitted Date, Admission Date, End Date, Outcome, Effective Date, Determination Date, Disability Type, Specialized Services, DTD_Date, Discharge Type, Download_date, Census_date]
Index: []

[0 rows x 22 columns]>

In [41]:
duplicateRows

Empty DataFrame
Columns: [Episode ID, Decree, Individual ID, Last Name, First Name, Identification Type, Identification Number, Date of Birth, Admitting Facility, Admitting Facility County, Submitted Date, Admission Date, End Date, Outcome, Effective Date, Determination Date, Disability Type, Specialized Services, DTD_Date, Discharge Type, Download_date, Census_date]
Index: []

[0 rows x 22 columns]

In [42]:
#create new column titled 'RIN'
df['RIN'] = np.where(df['Identification Type']=="Medicaid ID", df['Identification Number'], '')

In [43]:
df.RIN

0
1
2
3
4
         ...
116
117
118
119
121    095416392
Name: RIN, Length: 2201, dtype: object

In [44]:
#create new column titled 'SSN'
df['SSN'] = np.where(df['Identification Type']=="Social Security Number", df['Identification Number'], '')

In [45]:
df.SSN

0      334-26-6056
1      328-44-1202
2      580-50-9109
3      358-56-9468
4      354-30-0494
          ...
116    489-86-5959
117    323-92-4186
118    332-96-9323
119    342-80-8118
121
Name: SSN, Length: 2201, dtype: object

In [46]:
#add a new column for facility ID
df.insert(1, "Facility_ID", "")

In [47]:
df.columns

Index(['Episode ID', 'Facility_ID', 'Decree', 'Individual ID', 'Last Name',
       'First Name', 'Identification Type', 'Identification Number',
       'Date of Birth', 'Admitting Facility', 'Admitting Facility County',
       'Submitted Date', 'Admission Date', 'End Date', 'Outcome',
       'Effective Date', 'Determination Date', 'Disability Type',
       'Specialized Services', 'DTD_Date', 'Discharge Type', 'Download_date',
       'Census_date', 'RIN', 'SSN'],
      dtype='object')

In [48]:
# replace space with another character
df.columns = df.columns.str.replace(' ', '_')

In [49]:
df.sort_values(["Decree", "Admitting_Facility", "Last_Name", "First_Name", "Admission_Date"], 
               axis = 0, ascending = True, 
               inplace = True,
               na_position ='first')

In [52]:
df.head()

,Episode_ID,Facility_ID,Decree,Individual_ID,Last_Name,First_Name,Identification_Type,Identification_Number,Date_of_Birth,Admitting_Facility,...,Effective_Date,Determination_Date,Disability_Type,Specialized_Services,DTD_Date,Discharge_Type,Download_date,Census_date,RIN,SSN
171,1796361.0,,Colbert,1922330,Bomba,Aleksandra,Driver's License/State ID,B51000031659,1931-02-28,ADDOLORATA VILLA,...,NaT,2023-05-29,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21,,
256,1726365.0,,Colbert,1887527,Bukala,Wendy,Social Security Number,339-48-2898,1952-12-27,ADDOLORATA VILLA,...,NaT,2023-04-11,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21,,339-48-2898
701,1794389.0,,Colbert,1921237,Gordon,Dorothy,Social Security Number,341-24-8657,1930-12-22,ADDOLORATA VILLA,...,NaT,2023-05-26,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21,,341-24-8657
1839,1806006.0,,Colbert,1928033,Stransky,Catherine,AssessmentPro IID,1928033,1942-03-03,ADDOLORATA VILLA,...,NaT,2023-06-05,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21,,
1372,1818676.0,,Colbert,1935393,Munoz,Margarita,Social Security Number,359-64-5928,1954-11-02,AHVA CARE OF STICKNEY,...,NaT,2023-06-13,Not specified,NaN,NaT,NaN,2023-06-22 15:07:03.221420,2023-06-21,,359-64-5928

In [50]:
# Grab Current Time After Running the Code
end = time.time()

#Subtract Start Time from The End Time
total_time = end - start
print("\n"+ str(total_time))

25.298359155654907

In [51]:
#export to csv
df.to_csv(r'\\uicfs.server.uic.edu\NURS\1\CCMTP\Database & Reports\Database\Census\output\census.csv', index=False)