In [1]:
import pandas as pd
import numpy as np
import time
import re
import os
import datetime

In [2]:
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [3]:
os.chdir(r'C:/Users/vwalds/Documents/My Data Sources/')

In [4]:
# Grab Current Time Before Running the Code
start = time.time()

In [5]:
#UIC_report_notes

In [6]:
df = pd.read_excel("UIC_report_notes.xlsx")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154615 entries, 0 to 154614
Data columns (total 15 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Note_ID                      154615 non-null  int64
 1   Note_Activity_ID             154615 non-null  int64
 2   Note_Assessment_ID           154613 non-null  float64
 3   Note_Member_ID               154615 non-null  int64
 4   Note_Phase_ID                154615 non-null  int64
 5   Note_Note_Type_ID            154615 non-null  int64
 6   Note_Created_By_Employee_ID  154615 non-null  int64
 7   Note_Date_Created            154615 non-null  object
 8   Note_Note                    154463 non-null  object
 9   Note_Updated_Date            14609 non-null   object
 10  Note_Prime_ID                152216 non-null  float64
 11  Note_Date_Updated            14609 non-null   object
 12  Note_Created_By              154613 non-null  float64
 13  Note_Updated_By              0 non-null       float64
 14  Note_Date_Of_Activity        154615 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 17.7+ MB

In [8]:
df.columns

Index(['Note_ID', 'Note_Activity_ID', 'Note_Assessment_ID', 'Note_Member_ID',
       'Note_Phase_ID', 'Note_Note_Type_ID', 'Note_Created_By_Employee_ID',
       'Note_Date_Created', 'Note_Note', 'Note_Updated_Date', 'Note_Prime_ID',
       'Note_Date_Updated', 'Note_Created_By', 'Note_Updated_By',
       'Note_Date_Of_Activity'],
      dtype='object')

In [9]:
# converting the string to datetime format
df['Note_Date_Created'] = pd.to_datetime(df['Note_Date_Created'])

In [10]:
# converting the string to datetime format
df['Note_Updated_Date'] = pd.to_datetime(df['Note_Updated_Date'])

In [11]:
# converting the string to datetime format
df['Note_Date_Updated'] = pd.to_datetime(df['Note_Date_Updated'])

In [12]:
# converting the string to datetime format
df['Note_Date_Of_Activity'] = pd.to_datetime(df['Note_Date_Of_Activity'])

In [13]:
df.dtypes

Note_ID                                 int64
Note_Activity_ID                        int64
Note_Assessment_ID                    float64
Note_Member_ID                          int64
Note_Phase_ID                           int64
Note_Note_Type_ID                       int64
Note_Created_By_Employee_ID             int64
Note_Date_Created              datetime64[ns]
Note_Note                              object
Note_Updated_Date              datetime64[ns]
Note_Prime_ID                         float64
Note_Date_Updated              datetime64[ns]
Note_Created_By                       float64
Note_Updated_By                       float64
Note_Date_Of_Activity          datetime64[ns]
dtype: object

In [14]:
#export file without index column
df.to_excel("UIC_report_notes.xlsx", index=False)

In [15]:
# Create a timestamp object
timestamp = pd.Timestamp(datetime.datetime.now())

# Print the timestamp
print(timestamp)

2024-09-05 15:37:03.400901

In [16]:
#the end!