In [1]:
import pandas as pd
import numpy as np
import time
import re
import os
import datetime

In [2]:
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [3]:
# os.chdir(r'C:/Users/vwalds/Documents/My Data Sources/')

In [4]:
# Grab Current Time Before Running the Code
start = time.time()

In [5]:
#UIC_VW_Transitions_Housingtype

In [6]:
df = pd.read_excel("/home/node1/Documents/uic/FilesUsed/uic_VW_transitions_housingtype.xlsx")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3045 entries, 0 to 3044
Data columns (total 39 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Member_ID                                    3045 non-null   int64
 1   Member_First_Name                            3045 non-null   object
 2   Member_Last_Name                             3045 non-null   object
 3   RIN                                          3045 non-null   int64
 4   Transition_ID                                3045 non-null   int64
 5   Transition_Discharge_Date                    3045 non-null   object
 6   Transitioned_Type_ID                         2006 non-null   float64
 7   Transition_Assessed_After_Movein_YN          3045 non-null   bool
 8   Nursing_Facility_Name                        3045 non-null   object
 9   Clinical_Basis_Alternate_1                   52 non-null     object
 10  Clinical_Basis_Alternate_2                   125 non-null    object
 11  Clinical_Basis_Alternate_3                   83 non-null     object
 12  Recommended_Setting_1                        659 non-null    float64
 13  Recommended_Setting_Basis_1                  34 non-null     float64
 14  Recommended_Setting_1_1                      24 non-null     float64
 15  Recommended_Setting_1_2                      25 non-null     float64
 16  Recommended_Setting_Basis_1_1                33 non-null     float64
 17  Recommended_Setting_Basis_1_2                458 non-null    float64
 18  Recommended_Setting_Basis_1_3                412 non-null    float64
 19  Recommended_Setting_Basis_1_4                355 non-null    float64
 20  Recommended_Setting_Basis_1_5                487 non-null    float64
 21  Recommended_Setting_Basis_1_6                405 non-null    float64
 22  Recommended_Setting_Basis_1_7                482 non-null    float64
 23  Recommended_Setting_Basis_1_8                448 non-null    float64
 24  Discharge_Type_ID                            3045 non-null   int64
 25  Transition_In_Process_ID                     2484 non-null   float64
 26  Transition_Comments                          536 non-null    object
 27  Transition_Housing_type_based_on_member_pre  3045 non-null   bool
 28  Member_Phase_ID                              3045 non-null   int64
 29  Activity_ID                                  3045 non-null   int64
 30  Activity_Closed_Date                         1975 non-null   object
 31  Activity_Phase_ID                            3045 non-null   int64
 32  Activity_Date_Started                        2554 non-null   object
 33  Activity_NF_ID                               3045 non-null   int64
 34  Activity_Prime_ID                            3045 non-null   int64
 35  Assessment_ID                                3045 non-null   int64
 36  Transition_Type_Other                        300 non-null    object
 37  Transition_Finished_Date                     2468 non-null   object
 38  Transition_Type_List                         386 non-null    object
dtypes: bool(2), float64(14), int64(10), object(13)
memory usage: 886.3+ KB

In [8]:
df.columns

Index(['Member_ID', 'Member_First_Name', 'Member_Last_Name', 'RIN',
       'Transition_ID', 'Transition_Discharge_Date', 'Transitioned_Type_ID',
       'Transition_Assessed_After_Movein_YN', 'Nursing_Facility_Name',
       'Clinical_Basis_Alternate_1', 'Clinical_Basis_Alternate_2',
       'Clinical_Basis_Alternate_3', 'Recommended_Setting_1',
       'Recommended_Setting_Basis_1', 'Recommended_Setting_1_1',
       'Recommended_Setting_1_2', 'Recommended_Setting_Basis_1_1',
       'Recommended_Setting_Basis_1_2', 'Recommended_Setting_Basis_1_3',
       'Recommended_Setting_Basis_1_4', 'Recommended_Setting_Basis_1_5',
       'Recommended_Setting_Basis_1_6', 'Recommended_Setting_Basis_1_7',
       'Recommended_Setting_Basis_1_8', 'Discharge_Type_ID',
       'Transition_In_Process_ID', 'Transition_Comments',
       'Transition_Housing_type_based_on_member_pre', 'Member_Phase_ID',
       'Activity_ID', 'Activity_Closed_Date', 'Activity_Phase_ID',
       'Activity_Date_Started', 'Activity_NF_ID', 'Activity_Prime_ID',
       'Assessment_ID', 'Transition_Type_Other', 'Transition_Finished_Date',
       'Transition_Type_List'],
      dtype='object')

In [9]:
# converting the string to datetime format
df['Transition_Discharge_Date'] = pd.to_datetime(df['Transition_Discharge_Date'])

In [10]:
# converting the string to datetime format
df['Activity_Closed_Date'] = pd.to_datetime(df['Activity_Closed_Date'])

ValueError: unconverted data remains when parsing with format "%m/%d/%Y": " 6:01:02 AM", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [11]:
# converting the string to datetime format
df['Activity_Date_Started'] = pd.to_datetime(df['Activity_Date_Started'])

In [12]:
# converting the string to datetime format
df['Transition_Finished_Date'] = pd.to_datetime(df['Transition_Finished_Date'])

In [13]:
df.dtypes

Member_ID                                               int64
Member_First_Name                                      object
Member_Last_Name                                       object
RIN                                                     int64
Transition_ID                                           int64
Transition_Discharge_Date                      datetime64[ns]
Transitioned_Type_ID                                  float64
Transition_Assessed_After_Movein_YN                      bool
Nursing_Facility_Name                                  object
Clinical_Basis_Alternate_1                             object
Clinical_Basis_Alternate_2                             object
Clinical_Basis_Alternate_3                             object
Recommended_Setting_1                                 float64
Recommended_Setting_Basis_1                           float64
Recommended_Setting_1_1                               float64
Recommended_Setting_1_2                               float64
Recommended_Setting_Basis_1_1                         float64
Recommended_Setting_Basis_1_2                         float64
Recommended_Setting_Basis_1_3                         float64
Recommended_Setting_Basis_1_4                         float64
Recommended_Setting_Basis_1_5                         float64
Recommended_Setting_Basis_1_6                         float64
Recommended_Setting_Basis_1_7                         float64
Recommended_Setting_Basis_1_8                         float64
Discharge_Type_ID                                       int64
Transition_In_Process_ID                              float64
Transition_Comments                                    object
Transition_Housing_type_based_on_member_pre              bool
Member_Phase_ID                                         int64
Activity_ID                                             int64
Activity_Closed_Date                           datetime64[ns]
Activity_Phase_ID                                       int64
Activity_Date_Started                          datetime64[ns]
Activity_NF_ID                                          int64
Activity_Prime_ID                                       int64
Assessment_ID                                           int64
Transition_Type_Other                                  object
Transition_Finished_Date                       datetime64[ns]
Transition_Type_List                                   object
dtype: object

In [14]:
df['RIN'].sample(10)

764     386635270
1201    950192070
330     982416646
528     215132887
39      950177329
1439    172747982
1066    116340035
421      26898171
1119    309580868
908     156533333
Name: RIN, dtype: int64

In [15]:
# Convert RIN to string
df['RIN'] = df['RIN'].astype('str')

In [16]:
df['RIN'] = df['RIN'].str.strip()

In [17]:
df['RIN'].sample(15)

811     180731689
488      92051713
474      34795302
1204    204303812
229     193227345
743     362500423
1572     94315710
406      65828048
1433     60862240
628      18877233
156     113217996
1557    116633843
1399    337267645
1028     88108246
1277     39182423
Name: RIN, dtype: object

In [18]:
# add leading zeros to Member_RIN
df['RIN'] = df['RIN'].str.zfill(9)

In [19]:
df['RIN'].sample(10)

1594    148849789
156     113217996
770     386887129
352     167466788
477     198523821
870     072742190
1163    358671964
596     967267444
1295    162564413
6       200353308
Name: RIN, dtype: object

In [20]:
#export file without index column
df.to_excel("UIC_VW_Transitions_Housingtype.xlsx", index=False)

In [21]:
# Create a timestamp object
timestamp = pd.Timestamp(datetime.datetime.now())

# Print the timestamp
print(timestamp)

2024-09-05 15:30:40.995693

In [22]:
#the end!